@import'./base.css';
@import'./card.css';
@import'./card-two.css';


.warranty-container1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 3vw;
}
.warranty-container1 p{
    color: #7B5555;
    font-size: 16px;
    font-weight: 400;
}
#warranty-title{
    font-size: 30px;
    color: #F06424;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.feature-with-tick{
    display: flex;
    padding-bottom: 10px;
}
.feature-with-tick p{
    padding-top: 4px;
    font-size: 14px;
}
.material-icons{
    padding: 2px 14px;
    color: #8E8E8E;
}


#warranty-title2{
    font-size: 16px;
    color: #55555A;
    font-weight: 300;
}